cffi~=1.15.1
future~=0.18.2
Pillow~=9.5.0
olefile~=0.46
pip~=23.1.2
attrs~=23.1.0
distro~=1.8.0
wheel~=0.38.4
cryptography~=38.0.4
Jinja2~=3.1.2
Pygments~=2.15.1
PyGObject~=3.42.2
numpy~=1.24.2
pyenchant~=3.2.2
certifi~=2022.9.24
requests~=2.28.1
setuptools~=67.8.0
Flask~=2.2.2
redis~=4.3.4
idna~=3.3
urllib3~=1.26.16
chardet~=5.1.0
simplejson~=3.19.1
packaging~=23.1
pyparsing~=3.1.0
Cython~=0.29.36
platformdirs~=3.8.0
Twisted~=22.4.0
tabulate~=0.8.9
six~=1.16.0
Brotli~=1.0.9
mutagen~=1.46.0
pytz~=2023.3